$color-background = #e5e9f0
$color-footer-mobile-1 = darken($color-background, 2%)
$color-footer-mobile-2 = darken($color-background, 10%)
$color-background-code = darken($color-background, 2%)
$color-border = #666
$color-scrollbar = #999
$color-meta = #666
$color-meta-code = lighten($color-meta, 10%)
$color-link = #88c0d0
$color-text = #2e3440
$color-accent-3 = #666666
$color-accent-2 = #111111
$color-accent-1 = #5e81ac
$color-quote = #81a1c1
$highlight = hexo-config("highlight") || "github"
